.body{
  background-color: red;
}
.a{
  margin: 5px;
  padding:0px;
  background-color: blue;
}
.display{
  margin-top: 20px;
  height: 80px;
  font-size: 30px;
}
.linha{
  margin-top: 20px;
}

.linha button{
  font-size: 30px;
}
